*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.flex{
    display: flex;
}

ul{
    list-style: none;
}

header nav ul li{
display: inline-block;
margin: 0,5rem;
}
header{
    display: flex;
    justify-content: center;
    background-color: #ff6900;
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    color: white;
    width: 100%;
    }

main{
    padding: 3rem;
}

.logo{
width: 200px;
}

section.products > article{
   position: relative;
   padding: 1rem;
   background-color: rgba(0, 0, 0, 0);
   width: calc((100%/3) - 3rem);
}

section.products{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

article.product> img{
    height: 220px;
    width: 100%;
    object-fit: cover;
    
}

article.product> span.discount-tag{
    position: absolute;
    left: 1rem;
    bottom: 2rem;
    background-color: red;
}

article.product> span.sostenibilità{
    position: absolute;
    left: 4rem;
    bottom: 2rem;
    background-color: rgb(31, 174, 24);}

    article.product> span.sostenibilità-green{
        position: absolute;
        left: 1rem;
        bottom: 2rem;
        background-color: rgb(31, 174, 24);}



article.product> span.cambio{
    position: absolute;    
}    

article.product:hover > span.cambio{
    display: inline block;
}

.cambio{
    object-fit: cover;
}

footer{
    background-color: black;
    color: white;
    padding: 1rem;
}

.container-footer{
display: flex;
justify-content: space-between;
align-items: baseline;
}

.main-container{
    max-width: ;
}