*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.flex{
    display: flex;
}

ul{
    list-style: none;
}

header nav ul li{
display: inline-block;
margin: 0,5rem;
}
header{
    display: flex;
    justify-content: center;
    background-color: #ff6900;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: white;
    }


.logo{
width: 200px;
}